<div class="users-container">
  <% @users.each do |user| %>
    <div class="user-card">
      <div class="user-image">
        <% if @user.present? %>
          <% if @user.photo.present? %>
            <%= image_tag @user.photo, alt: @user.name, class: "profile-photo" %>
          <% end %>
        <% end %>
      </div>
      <div class="user-info">
        <h3><%= link_to user.name, user_path(user), class: "user-name" %></h3>
        <p><%= user.posts_counter %> Posts</p>
      </div>
    </div>
  <% end %>
</div>
